#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym

# I keep these, since I prefer having the reference of the final build
# *.elf
# *.hex

cmake-build-debug/CMakeFiles/**
cmake-build-debug/cpp_project
cmake-build-debug-ubuntu/CMakeFiles/**
cmake-build-debug-ubuntu/cpp_project
.idea/workspace.xml

# Only the files inside test_files/expected should be added to version control
test_files/output/**
test_files/tests_bit_stream/**
